.link_users {
    color: #fff;
    text-decoration: none;
}

.link_users:hover {
    color: #fff;
    text-decoration: none;
}

.iconQrcode {
    background: url('../img/qrcode-solid.svg');
    height: 24px;
    width: 24px;
    display: block;
}

.qr-code {
    border: 1px;
    border-style: solid;
}

.botao-msg {
    width: 125px !important;
}

.foto {
    width: 155px;
    height: 155px;
    border: 3px solid grey;
    border-radius: 50%;
    padding: 5px;
}

.items-qr {
    visibility: hidden;
}

.cardQr {
    border: 3px solid grey;
}

.active { 
    border-color: #007bff; 
}

input[type="checkbox"] {
    position: absolute;
    top: .5em;
    left:.5em;
}

@media (pointer: coarse) { 
    input[type="checkbox"] {
      height: 2em;
      width: 2em;
    }
}

@media (hover: hover) {
    input[type="checkbox"] { z-index: -1 }
    .cardQr:hover input[type="checkbox"],
    input[type="checkbox"]:focus,
    input[type="checkbox"]:checked { z-index: auto }
}