* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.principal {
    margin-left: 500px;
    margin-right: 500px;
}

.btn_lista {
    width: 50px;
}

.btn_lista img {
    display: block;
    margin: auto;
}

.formulario p {
    /* display: inline; */
    visibility: hidden;
}

.matricula:focus + p, .matricula:hover + p{
    visibility: visible;
}

.campo_id {
    width: 10px;
    text-align: center;
}

.tabela_veiculos {
    width: 100%;
}

.perfil {
    display: flex;
}

.informacoes {
    width: 100%;
    height: 70%;
}

.informacoes p{
    margin-left: 30px;
    margin: 15px 0px 10px 30px;
}

.botoes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 60%;
    margin-top: 30px;
}

.inf_btn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    margin-left: 500px;
    margin-right: 500px;
}

.form label {
    font-weight: bold;
}